.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*

venv
*.tar.gz

*.mat
*.npz
*.zip
*.h5
*.7z

data/
LNP_lam_all.pickle
LNP_spk_all.pickle

*/exp/*
exp

*/__pycache__/*

# Byte-compiled / optimized / DLL files

__pycache__/

*.py[cod]

*/JupyterNoteBook/*
/JupyterNoteBook
!Result_Visualization.ipynb

.Trash-0
*/.Trash-0/*
/JupyterNoteBook/

slack.py
